<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jbworks.bmwibus" >

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".UsbEventReceiverActivity"
            android:label="BMW IBus"
            android:theme="@style/Theme.Transparent"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:taskAffinity="com.example.taskAffinityUsbEventReceiver"
            android:process=":UsbEventReceiverActivityProcess"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".SerialConsoleActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".ibus.IBusMessageService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".ibus.BootupStartReciever"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
